@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --color-1: #FBFFA7;
    --color-2: #ff764d;
    --color-3: #B1C5FF;
    --color-4: #D5B3FF;
    --color-5: #b6ffc0;
    --color-6: #0000ff;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
nav{
    background-color: beige;
    padding: auto;
    padding: 3px;
}

nav a img{
    height: 3%;
    width: 3%;
}

nav ol{
    list-style: none;
    font-weight: 600;
}

nav ol a{
    text-decoration: none;
}