@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
:root{
    --color-1: #FBFFA7;
    --color-2: #ff764d;
    --color-3: #B1C5FF;
    --color-4: #D5B3FF;
    --color-5: #b6ffc0;
    --color-6: #0000ff;
}

a{
    text-decoration: none;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}
nav{
    padding: 4px;
    border-bottom: solid 2px rgb(235, 235, 235);
}

nav div{
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: start;
}

nav .nav-home{
    margin-left: 35px;
    margin-right: 35px;
}

nav div .nav-home img{
    height: 40px;
    width: 40px;
    display: inline-flex;
}

nav ol{
    list-style: none;
    font-weight: 600;
    display: inline-flex;
    padding-inline-start: 0;
    font-size: 18px;
}

nav ol .nav-home{
    text-decoration: none;
}

nav ol li a{
    color: black;
}

nav ol li a:hover{
    color: var(--color-2);
}

nav ol li .selected{
    color: var(--color-2);
}

nav ol li, nav ul li{
    margin-inline-end: 15px;
    margin-inline-start: 15px;
}

nav ul{
    display: inline-flex;
    list-style: none;
    font-weight: 600;
    margin-left: auto;
    margin-right: 35px;
}

nav ul li .try-live-ff{
    color: var(--color-6);
    font-size: 18px;
}

nav ul li .account, nav ul li .log-out{
    font-size: 15px;
    color: black;
}